/node_modules
/app/vendor
/app/dist
/app/styles/foundation
/app/styles/_vendor

.DS_Store
.tscache
/.idea/*
*.tmp.txt
*.sublime-project
*.sublime-workspace

!/.idea/codeStyleSettings.xml
npm-debug.log